.review-form-container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    z-index: 100;
}

.review-form-container h3 {
    display: flex;
    justify-content: center;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.star-rating {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 20px;
}

.submit-review-button {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.submit-review-button button {
    display: block;
    margin: 10px auto;
    padding: 10px 30px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    background-color: red;
}

.submit-review-button button:hover {
    background-color: darkred;
    cursor: pointer;
}

.submit-review-button button:disabled {
    background-color: darkred;
    cursor: default;
}