/* body {
    margin: 0;
    font-family: Arial, sans-serif;
} */

h2 {
    padding-left: 20px;
}

.tile-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.tile {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: inherit;
    background-color: #cab7b7;
    padding: 15px;
    border-radius: 10px;
}

.tile:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.tile img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    object-position: 25% 30%;
    display: block;
}

.tile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-delete-buttons {
    display: flex;
    gap: 10px;    
}

.update-delete-buttons button {
    cursor: pointer;
}

@media (max-width: 1040px) {
    .tile-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .tile-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .tile-container {
        grid-template-columns: 1fr;
    }
}