.header {
    background-color: #8d949c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.auth-buttons {
    display: flex;
    gap: 50px;
    z-index: 100;
}

.auth-buttons button {
    cursor: pointer;
}

.create-spot-link {
    color: inherit;
    text-decoration: none;
}

.create-spot-link:hover {
    text-decoration: underline;
}

.profile-dropdown {
    /* Dropdown Menu Position */
    position: absolute;
    top: 70px;
    right: 20px;

    /* Dropdown Menu Contents */
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;

    list-style: none;
}

.profile-dropdown li {
    margin-bottom: 10px;
}

.profile-dropdown li:last-child {
    margin-bottom: 0px;
}

.auth-links li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hidden {
    display: none;
}
