.header {
    /* background-color: #8d949c; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black;
}

.profile-button button {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
}

.login-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subsection1 {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.subsection1 > div:first-child {
    padding-bottom: 5px;
}

.subsection2 {
    display: flex;
    border-bottom: 1px solid black;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.manage-spots-link {
    color: inherit;
    text-decoration: none;
}

.manage-spots-link:hover {
    text-decoration: underline;
}

.subsection3 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    z-index: 100;
}

.auth-buttons button {
    cursor: pointer;
}

.create-spot-link {
    color: inherit;
    text-decoration: none;
}

.create-spot-link:hover {
    text-decoration: underline;
}

.create-first-spot-link {
    text-decoration: none;
}

.create-first-spot-link button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.profile-dropdown {
    /* Dropdown Menu Position */
    position: absolute;
    top: 70px;
    right: 20px;

    /* Dropdown Menu Contents */
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;

    list-style: none;
}

.profile-dropdown li {
    margin-bottom: 10px;
}

.profile-dropdown li:last-child {
    margin-bottom: 0px;
}

.auth-links li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hidden {
    display: none;
}
